<div class="profile">
<h1>Profile</h1>
<p><b>Gitlab ID</b></p>
<p><%= data.id %></p>
<p><b>Email</b></p>
<p><%= data.email %></p>
<p><b>Name</b></p>
<p><%= data.name %></p>
<p><b>Username</b></p>
<p><%= data.username %></p>
<img src="<%= data.avatar_url %>" alt="User Avatar" style="width: 50px; height: 50px;"/>
<p><b>Last Active</b></p>
<p><%= data.last_activity_on %></p>
</div>