<h1>Profile</h1>
<p>Gitlab ID</p>
<p><%= data.id %></p>
<p>Email</p>
<p><%= data.email %></p>
<p>Name</p>
<p><%= data.name %></p>
<p>Username</p>
<p><%= data.username %></p>
<img src="https://secure.gravatar.com/avatar/f7de2d5942d3d341ebda51bc9301d2153467b686eaa710ad71aa82113e9c351b?s=80&d=identicon" alt="">
<p>Last Active</p>
<p><%= data.last_activity_on %></p>